{{!-- vista principal --}}

<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1" >LINKS FAVORITOS</h1>
            <h3 class="mb-5">
                <em>ALMACENA TUS ENLACES FAVORITOS</em>
            </h3>
            <a href="/login" class="btn ttn-primary">
            Comenzemos
            </a>
        </div>
    </header>
</main>