{{!-- formulario de login --}}

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card tex-center">
                    <div class="card-header mx-auto">
                        <h3>Loguin</h3>
                    </div>
                    <div class="car-body">
                        <img src="/img/slitherin.jpg" alt="slitherin" class="card card-img-top m-2  mx-auto  w-50">
                        <form action="/login" method="POST">

                            <div class="form-group">
                                <input type="text" name="username" placeholder="USERNAME" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">login</button>
                            </div>
                        </form> 
                    </div>
            </div>
        </div>
    </div>
</div>